<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Home</title>
    <script>
        // pra abrir o menu
        function abre() {
        document.getElementById("mySidenav").style.width = "250px";
        }
        // pra fechar o menu
        function fecha() {
        document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>
<body>
    <header class="navbar">
        <div class="menu">
            <span style="font-size:40px;cursor:pointer" onclick="abre()">&#9776;</span>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="fecha()">&times;</a>
            <a href="/home">Home</a>
            <a href="/saque">Saque</a>
            <a href="/deposito">Deposito</a>
            <a href="/extrato">Extrato</a>        
            <a href="/loggout">Sair</a>
            <br>
            <a href="/reqEncerramento">Deletar conta</a>
        </div>
        <a href="/">
            <img src="../static/public/logo.png" alt="logo">
        </a>
        <div class="user">
            <a href="/user">
            <img src="../static/public/user.png" alt="user" style="width:50px;height:50px;"></a>
        </div>
    </header>
    <hr>
    <div class="corpohome">
        {% if nome %}
        <h1>Bem-vindo(a), {{ nome }}!</h1>
        {% else %}]
        <p>Não está logado ainda</p>
        {% endif %}
        <h2>Conta: {{numero_conta}}</h2>
        <h2>Saldo: {{saldo}}</h2>
        <div>
            
            <button><a href="/saque" class="nav-link">Saque</a></button>
            <button><a href="/deposito" class="nav-link">Depósito</a></button>
        </div>
    </div>

    <div>
    {% block gerente %}
    {% endblock %}
    </div>
     <!-- Mensagem de saque ou depósito realizado com sucesso -->
    {% with mensagens = get_flashed_messages() %}
        {% for msg in mensagens %}
            <p id="info">{{msg}}</p>
        {% endfor %}
    {% endwith %}
</body>
</html>