/*CONFIGURAÇÕES COMPARTILHADAS*/
/* começo menu */
.menu{  position: absolute;
  top:6vh;
  left: 13vw;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2660A4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* fim menu */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topo{
  background-color: rgba(255, 93, 0);
  border-bottom:solid black;
}

.navbar img {
    height: 15vh;
    display: inline-block;
    margin-left: 47%;
    margin-right: auto;
}

.user{
  position: absolute;
  top:6vh;
  right: 13vw;
}

/* PÁGINAS SAQUE E DEPÓSITO */
.corposaque {
    width: 35vw;
    height: 30vh;
    margin: 12vh auto;


    background-color: #f0e5c7;
    border-radius: 35px;
}

.corposaque h2 {
  margin: 10px 15px;
  padding-top: 10px;
}

.corposaque h1 {
    margin: 0;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}

#cifrão {
    position: absolute;
    color: black;
    margin-left: 2.6vw;
    padding-top: 1.5vh;
    margin-top: 0;
    font-size: 2vw;
    
}

#cifrão input {
    border: none;
    font-size: 2vw;
    border-radius: 10px;
}

#sacar, #depositar {
    position: absolute;
    background-color: #FF884D;
    color: white;
    font-size: 2vw;
    border: none;
    border-radius: 10px;

    right: 0%;
    top: 120%;
    padding: 0 0.7vw;

}

#depositar:hover { 
    background-color: #2660A4;
    color:white;
    transition: 300ms;
    cursor: pointer;
}

#sacar:hover {
    background-color: #2660A4;
    color:white;
    transition: 300ms;
    cursor: pointer;
}

.corposaque button {
    position: absolute;

    color: white;
    font-size: 2vw;
    border: none;
    border-radius: 10px;

    left: 10%;
    top: 120%;
    padding: 0 0.7vw;
}

.corposaque button a {
    text-decoration: none;

}

.corposaque button a:link {
    color: black;
}

/* PÁGINA HOME */
.corpohome {
    width: 35vw;
    height: 30vh;
    margin: 12vh auto;


    background-color: #f0e5c7;
    border-radius: 35px;

    font-family: Arial, Helvetica, sans-serif;
}

.corpohome h1 {
  padding-top: 2vh;
  margin-left: 3vw;
}

.corpohome h2 {
  margin-left: 2vw;
}

.corpohome button {
  font-size: 2vw;
  color: black;

  border: none;
  border-radius: 10px;

  position: relative;
  left: 5vw;
  padding: 0 2vw;
  margin-right: 4vw;
}

.corpohome button:hover { 
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

.corpohome button a:visited {
  color: black;
}

.corpohome button a {
  text-decoration: none;
}

#info {
  position: absolute;
  font-size: 1.5vw;
  color: white;
  font-weight: 700;
  left: 33%;
  top: 24%;
}

#confimacaoSenha{
  font-size: 1.2vw;
  color: rgb(255, 0, 0);
  text-align: center;

}


/*PÁGINA CADASTRO*/
.cadastro-form{
  width:430px;
  top:60%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  border-radius: 5px;
  background-color: #f0e5c7;
  padding: 25px;
  margin-top: 20vh;
}
.cadastro-form h1{
  font-size:30px;
  text-align: center;
  text-transform: uppercase;
}
.cadastro-form p{
  font-size:20px;
  margin: 15px 0;
}
.cadastro-form input{
  font-size:16px;
  width:100%;
  padding:15px 5px;
  border: 0;
  outline:none;
  border-radius:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
}

.cadastro-form select{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

#cadastrar {
  font-size:18px;
  font-weight:bold;
  padding:10px 15px;
  width:50%;
  border-radius:5px;
  border:0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  cursor: pointer;
}

#cadastrar:hover {
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

#separações{font-size: 18px;
}

/*PÁGINA LOGIN*/
.login-form{
  width:430px;
  top:38%;
  left:47.5%;
  position:absolute;
  transform: translate(-50%,-50%);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  border-radius: 5px;
  background-color: #f0e5c7;
  padding: 25px;
  margin-top: 20vh;
}

.login-form label{
  font-size:20px;
  margin: 15px 0;
}
.login-form input{
  font-size:16px;
  width:100%;
  padding:15px 5px;
  border: 0;
  outline:none;
  border-radius:10px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
}

.login-form button {
  font-size: 1.5vw;
  font-weight:bold;
  padding:10px 15px;
  width:50%;
  border-radius:5px;
  border:0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display:block;
  cursor: pointer;
}

.login-form button:hover { 
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

#erro {
  position: absolute;
  font-size: 1.5vw;
  color: white;
  font-weight: 700;
  left: 32%;
  right: 36%;
}

#erro-saque-deposito {
  position: absolute;
  left: 33.5%;
  bottom: 20%;
  width: 33vw;

  font-size: 1.3vw;
  font-weight: 400;
  text-align: justify;
  color: white;
  font-weight: 700;
}

/* Página User */

.divtabuser{
  margin-top: 3%;
  margin-left: 20%;
  display: table;

}

.divrowuser{
  display: table-row;
}

.userinfo{
  text-align: center;
  width: 20vw;
  margin: 12vh auto;
  background-color: #f0e5c7;
  border-radius: 35px;
  display: table-cell;
}

.useralt{
  text-align: center;
  width: 20vw;
  margin: 12vh auto;
  background-color: #f0e5c7;
  border-radius: 35px;
  display: table-cell;
  padding-bottom: 20px;
}

.espaço{
  text-align: center;
  width: 20vw;
  margin: 12vh auto;
  border-radius: 35px;
  display: table-cell;
}

#alterar {
  font-size:18px;
  padding:10px;
  width:55%;
  border-radius:px;
  border:0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  cursor: pointer;
  width: 10vw;
}


fieldset{
  border: 0px;
}

/* requisições */

.coluna {   
    float:center;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
	float:center;
}
.req-form{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0e5c7;
  padding: 25px;
  border-radius:10px;
  width:50vw;
  margin-left:22vw;
  
}

.req-form label{
  font-size:20px;
  margin: 15px 0;
}
.req-form input{
  font-size:16px;
  width:100%;
  padding:5px 5px;
  border: 0;
  outline:none;
  border-radius:5px;

}

.req-form button {
  font-size: 1.5vw;
  font-weight:bold;
  padding:10px 15px;
  width:50%;
  border-radius:5px;
  border:0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display:block;
  cursor: pointer;
}

.req-form button:hover { 
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

.termina{
  font-size:70px;
  color:white;
  text-align:center;
  margin-top:50px;
  font-weight:bolder;
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color:black;
   text-decoration: none;
}
a.nav-link:hover
{
   color:white;
   text-decoration: none;
}
a.nav-link:active
{
   color:black;
   text-decoration: none;
}

a.nav-link2:link
{
   color: black;
   text-decoration: none;
}
a.nav-link2:visited
{
   color:white;
   text-decoration: none;
}
a.nav-link2:hover
{
   color:white;
   text-decoration: none;
}
a.nav-link2:active
{
   color:black;
   text-decoration: none;
}

span.botoes 
{
  text-align: center;
}

/* botão voltar */
#req{
  background-color: #f0e5c7;

  color: black;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding-right: 5px;
  margin-bottom: 5px;
}


#req:hover { 
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

.req{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5%;
}

/* botão voltar */
.voltar {
  background-color: #f0e5c7;
}
.voltar button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;

    color: black;
    font-size: 2vw;
    border: none;
    border-radius: 10px;
    padding: 0 0.7vw;
    text-decoration: none;

}

#deletar{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  display:block;
  cursor: pointer;
  height: 4vh;
}

.voltar button:hover { 
  background-color: #2660A4;
  color:white;
  transition: 300ms;
}

.centHomeG {
  margin-top:10px;
  margin-bottom:10px;
  display: flex;
  justify-content:center;
  gap: 10px;
}