<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Agencias</title>
    <script>
        // pra abrir o menu
        function abre() {
        document.getElementById("mySidenav").style.width = "250px";
        }
        // pra fechar o menu
        function fecha() {
        document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>
<body>
    <div class="topo">
        <header class="navbar">
            <div class="menu">
                <span style="font-size:40px;cursor:pointer" onclick="abre()">&#9776;</span>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="fecha()">&times;</a>
                <a href="/homeGerenteGeral">Home</a>
                <a href="/saque">Saque</a>
                <a href="/deposito">Deposito</a>
                <a href="/transferencia">Transferencia</a>
                <a href="/extrato">Extrato</a>        
                <a href="//reqMudancaCadastral">Perfil de usuário</a>
                <a href="/loggout">Sair</a>
                <br>
            </div>
            <a href="/homeGerenteGeral">
                <img src="../static/public/logo.png" alt="logo">
            </a>
            <div class="user">
                <a href="/reqMudancaCadastral">
                <img src="../static/public/user.png" alt="user" style="width:50px;height:50px;"></a>
            </div>
        </header>
    </div>
    <div class="blocoAgencia">
        {% for linhaAgencia in tabelaAgencia %}  
            <div>
                <h3>Número da agencia: {{linhaAgencia['numero_agencia']}}</h3>
                <h3>Nome Agência: {{linhaAgencia['nome_agencia']}}</h3>
                <h3>Rua/Avenida: {{linhaAgencia['rua_avenida_agencia']}}</h3>
                <h3>Número de endereço: {{linhaAgencia['numero_local_agencia']}}</h3>
                <h3>Bairro: {{linhaAgencia['bairro_agencia']}}</h3>
                <h3>Cidade: {{linhaAgencia['cidade_agencia']}}</h3>
                <h3>Estado: {{linhaAgencia['estado_agencia']}}</h3>
                
                
                {% for linhaGerente in tabelaGerente %}
                    {% if linhaAgencia['numero_matricula'] == linhaGerente['numero_matricula'] %}

                        {% for linhaUsuario in tabelaUsuario %}
                            
                            {% if linhaGerente['id_usuario'] == linhaUsuario['id_usuario'] %}
                                <h3>Gerente: {{linhaUsuario['nome_usuario']}}</h3>
                                <h3>Numero de matricula: {{linhaAgencia['numero_matricula']}}</h3>
                                <h3>id de usuario: {{linhaUsuario['id_usuario']}}</h3>
                                {% for linhaConta in tabelaConta %}
                                    {% if linhaGerente['id_usuario'] == linhaConta['id_usuario'] %}
                                        <h3>Numero da conta: {{linhaConta['numero_conta']}}</h3>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% set numero_agencia = linhaAgencia['numero_agencia'] %}
                <button><a href="{{'/usuariosAgencia/%s' % (numero_agencia)}}"class="nav-link">Gerenciar Usuários</a></button>
                <button><a href="{{'/alteraAgencia/%s' % (numero_agencia)}}"class="nav-link">Alterar dados da agência</a></button>
            </div>
        {% endfor %}
    </div>
    <div class="cent">
        <a href="/criaGerenteNaoAtribuido" class="voltar"><button> Criar Gerente de agência </button></a>
        <a href="/criaAgencia" class="voltar"><button> Criar agência </button></a>
        
        <a href="/homeGerenteGeral" class="voltar"><button> Voltar </button></a>
        
        
    </div>
</body>
</html>