<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprovante</title>
    <link rel="stylesheet" href="/static/styles/comprovante.css">
</head>
<body>
    <div id="logo">
    <img src="/static/public/favicon.png" alt="">
    </div>
    <div class="comprovante">
        <h1>Comprovante de {{info['tipo_operacao']}}</h1>
        <h3>Operação: {{info['tipo_operacao']}}</h3>
        <h3>Valor: {{info['valor_operacao']}}</h3>
        {% if info['tipo_operacao'] != 'Transferência' %}
            <h2>Dados da conta: </h2>
        {% else %}
            <h2>Dados da conta Origem: </h2>
        {% endif %}
        {% if info['tipo_operacao'] == 'Transferência' and numero_conta != info['numero_conta'] and origem == 'extrato'%}
            <h3>Nome: {{pessoaOrigem['nome_usuario']}}</h3>
        {% else %}
            <h3>Nome: {{nome}}</h3>
        {% endif %}
        <h3>Agência: {{info['numero_agencia']}}</h3>
        <h3>Número da conta: {{info['numero_conta']}} </h3>
        {% if info['tipo_operacao'] == 'Transferência'%}
        {% else %}
            <h3>Saldo anterior: {{info['saldo_operacao']}}</h3>
        {% endif %}
        {% if info['tipo_operacao'] == 'Transferência'%}
            <h2>Dados da conta Destino: </h2>
            {% if info['tipo_operacao'] == 'Transferência' and numero_conta == info['numero_conta_destino'] %}
                <h3>Nome: {{nome}} </h3>
            {% else %}
                {% if origem == 'extrato' %}
                    <h3>Nome: {{pessoaDestino['nome_usuario']}} </h3>
                {% else %}
                    <h3>Nome: {{nome_destino}}</h3>
                {% endif %}
            {% endif %}
            <h3>Agência: {{info['numero_agencia_destino']}}</h3>
            <h3>Número da conta: {{info['numero_conta_destino']}} </h3>
        {% endif%}
        {% if info['tipo_operacao'] == 'Depósito'%}
                <h3>Status da operação: {{info['status_operacao']}}</h3>
        {% endif %}
            <h2 id="datahora">{{info['tipo_operacao']}} realizado(a) em: {{info['data_hora_operacao']}}</h2>
        {% if info['status_operacao'] != 'Pendente' and info['status_operacao'] == 'Depósito' %}
            <h2 id="datahora">{{info['status_operacao']}} em: {{info['data_hora_operacao']}}</h2>
        {% endif %}

    </div>
    <div id="esconde">
        <button onclick="window.print()">Imprimir comprovante</button>
        <!-- <button><a href="/geraPDF/comprovante">Gerar PDF</a></button> -->
        {% if gerente == 'agencia' %}
            <button><a href="/homeGerenteAgencia" class="voltar">Voltar para home</a></button>
        {% elif gerente == 'geral' %}
            <a href="/homeGerenteGeral" class="voltar"><button> Voltar </button></a>
        {% else %}
            <button><a href="/home">Voltar para home</a></button>
        {% endif %}
    </div>
</body>
</html>