<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprovante</title>
    <link rel="stylesheet" href="../static/styles/comprovante.css">
</head>
<body>
    <img src="../static/public/favicon.png" alt="">
    <h1>Comprovante de {{operacao}}</h1>
    <div>
        <h3>Nome: {{nome}}</h3>
        <h3>Operação: {{operacao}}</h3>
        <h4>Número da conta: {{numero_conta}}</h4>
        <h4>Saldo anterior: {{saldoAntes}}</h4>
        <h4>Valor: {{valor}}</h4>
        <h4>Data e hora: {{dataHora}}</h4>
    </div>
    <div id="esconde">
        <button onclick="window.print()">Imprimir</button>
        <!-- <button><a href="/geraPDF/comprovante">Gerar PDF</a></button> -->
        <button><a href="/home">Voltar para home</a></button>
    </div>
</body>
</html>