<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/comprovante.css">
    <title>Extrato</title>
</head>
<body>
    <img src="../static/public/favicon.png" alt="">
    <h1>Extrato da conta</h1>
    <h2>Agência: {{numero_agencia}}</h2>
    <h2>Número da conta: {{numero_conta}}</h2>
    <h2>Nome: {{nome}}</h2><br>

    <form action="", method="POST">
        <input type="datetime-local" name="data_inicio" step="1" required>
        <input type="datetime-local" name="data_fim" step="1" required>
        <input type="submit" value="Filtrar">
    </form>
    <hr>


    {% for dados in operacoes %}
    {% set id = dados['id_operacao'] %}
        <div>
            {% if dados['tipo_operacao'] == 'Transferência' %}
                {% set operacao = 'transferencia' %}
                {% if dados['numero_conta'] == numero_conta %}
                    <h4>Operação: {{dados['tipo_operacao']}} Enviada </h4>
                    {% for chave, valor in dic_nome_conta_destino.items() %}
                        {% if valor == dados['numero_conta_destino'] %}
                            <h4>Destino: {{chave}}</h4>
                            <h4>Conta: {{valor}}</h4>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h4>Operação: {{dados['tipo_operacao']}} Recebida </h4>
                    {% for chave, valor in dic_nome_conta_origem.items() %}
                        {% if valor == dados['numero_conta'] %}
                            <h4>Origem: {{chave}}</h4>
                            <h4>Conta: {{valor}}</h4>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <h4>Saldo anterior: {{dados['saldo_operacao'] | moeda }}</h4>
                <h4>Valor: {{dados['valor_operacao'] | moeda }}</h4>
                <h4>Data e hora realizada: {{dados['data_hora_operacao']}}</h4>
            {% else %}
            {% set operacao = 'deposito-saque' %}
                <h4>Operação: {{dados['tipo_operacao']}}</h4>
                <h4>Saldo anterior: {{dados['saldo_operacao'] | moeda }}</h4>
                <h4>Valor: {{dados['valor_operacao'] | moeda }}</h4>
                {% if dados['tipo_operacao'] == 'Depósito' %}
                    {% if dados['status_operacao'] != 'Pendente' %}
                        <h4>Data e hora realizada: {{dados['data_hora_operacao']}}</h4>
                        <h4>Status: {{dados['status_operacao']}} em {{dados['data_hora_confirmacao']}}</h4>
                    {% else %}
                        <h4>Data e hora realizada: {{dados['data_hora_operacao']}}</h4>
                        <h4>Status: {{dados['status_operacao']}}</h4>
                    {% endif %}
                {% else %}
                    <h4>Data e hora realizada: {{dados['data_hora_operacao']}}</h4>
                {% endif %}
            {% endif %}
            <button id="esconde"><a href="{{'/comprovante/extrato/%s/%s' % (operacao, id)}}">Gerar comprovante</a></button>
            <hr>
        </div>
        
    {% endfor %}
     
    <div id="esconde">
        <button onclick="window.print()">Imprimir</button>
        <!-- <button><a href="/geraPDF/comprovante">Gerar PDF</a></button> -->
        {% if gerente == 'agencia' %}
            <button><a href="/homeGerenteAgencia">Voltar para home</a></button>
        {% elif gerente == 'geral' %}
            <button><a href="/homeGerenteGeral">Voltar</a></button>
        {% else %}
            <button><a href="/home">Voltar para home</a></button>
        {% endif %}
    </div>
</body>
</body>
</html>