<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/comprovante.css">
    <title>Extrato</title>
</head>
<body>
    <img src="../static/public/favicon.png" alt="">
    <h1>Extrato da conta</h1>
    <h2>Agência: {{numero_agencia}}</h2>
    <h2>Número da conta: {{numero_conta}}</h2>
    <h2>Nome: {{nome}}</h2>
    <br><hr>
    {% for dados in operacoes %}
        <div>
            <h4>Operação: {{dados['tipo_operacao']}}</h4>
            <h4>Saldo anterior: {{dados['saldo_operacao']}}</h4>
            <h4>Valor: {{dados['valor_operacao']}}</h4>
            <h4>Data e hora: {{dados['data_hora']}}</h4>
            <hr>
        </div>
    {% endfor %}
     
    <div id="esconde">
        <button onclick="window.print()">Imprimir</button>
        <!-- <button><a href="/geraPDF/comprovante">Gerar PDF</a></button> -->
        <button><a href="/home">Voltar para home</a></button>
    </div>
</body>
</body>
</html>