<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if session['nome'] %}
    <h1>Bem vindo, {{ session['nome'] }}</h1>
    {% else %}]
    <p>Não está logado ainda</p>
    {% endif %}
    
     <!-- Menssagem de saque ou depósito realizado com sucesso -->
    {% with mensagens = get_flashed_messages() %}
        {% for msg in mensagens %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endwith %}
    <a href="/loggout">Loggout</a>
    <a href="/saque">Saque</a>
    <a href="/deposito">Depósito</a>
</body>
</html>