<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title></title>
  </head>
  <body>
    <span>
      {% extends "home.html" %} {% block gerente %}
      <div class="req">
        <button id="req"><a href="/requisicoes/confirmacao_deposito" class="nav-link">Requisições de depósito</a></button>
        <button id="req"><a href="/requisicoes/alteracao_cadastral" class="nav-link">Requisições alterações cadastrais</a></button>
        <button id="req"><a href="/requisicoes/encerramento_conta" class="nav-link">Requisições de encerramento de conta</a></button>
        <button id="req"><a href="/requisicoes/confirmacao_cadastro" class="nav-link">Requisições de abertura de conta</a></button>
    </div>
    {% endblock %}
    </span>
  </body>
</html>