<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script>
        // pra abrir o menu
        function abre() {
        document.getElementById("mySidenav").style.width = "250px";
        }
        // pra fechar o menu
        function fecha() {
        document.getElementById("mySidenav").style.width = "0";
        }
        function porcentagem(i){
            var v = i.value;
            if(!v.includes("%")) i.value += "%";
        }
    </script>
    <title>Acesse sua conta</title>
</head>
<body class="body2">
        {% block navbar%}
        <header class="navbar">
            <div class="menu">
                <span style="font-size:4.5vh;cursor:pointer" onclick="abre()">&#9776;</span>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="fecha()">&times;</a>
                <a href="/cadastro">Cadastro</a>
            </div>
            <a href="/login">
                <img src="../static/public/logo.png" alt="logo" class="logo">
            </a>
            </div>
        </header>
        {% endblock %}
    <!-- Menssagem de erro de login (só aparece se as informações estiverem erradas) -->

    {% if gerente == 'SIM' %}
        <div style="text-align:center"><h1>Login para gerentes</h1></div>
        
        <div class="login-form">
            {% with mensagens = get_flashed_messages() %}
                {% for msg in mensagens %}
                    <p id="confimacaoSenha">{{msg}}</p>
                {% endfor %}
            {% endwith %}
            <form method="POST" action="#">
                <label for="numero_matricula">Número de matricula:</label>
                <input type="text" name="numero_matricula" maxlength="6">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" maxlength="16">
                <button type="submit" value="Entrar">Entrar</button>
            </form>  
        </div>
        

    {% else %}
        {% block content %}
        <div class="login-form">
            {% with mensagens = get_flashed_messages() %}
                {% for msg in mensagens %}
                    <p id="confimacaoSenha">{{msg}}</p>
                {% endfor %}
            {% endwith %}
            <form method="POST" action="#">
                <label for="numero_conta">Número da conta:</label>
                <input type="text" name="numero_conta" minlength="6" maxlength="6">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" maxlength="16">
                <button type="submit" value="Entrar">Entrar</button>
            </form>  
        </div>
        {% endblock %}
    {% endif %}

    <!-- Forms provisório -->
    
    

</body>
</html>