<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/requisicoes.css">
    <title>Requisições</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
        <header class="navbar">
            <script>
                function cpf(i){
                var v =i.value;
                if(isNaN(v[v.length-1])){//impede de entrar qualquer coisa além de número
                    i.value = v.substring(0, v.length-1);
                    return;
            }
            
                i.setAttribute("maxlength", "14");
                if(v.length == 3) i.value += ".";
                if(v.length == 7) i.value += ".";
                if(v.length == 11) i.value += "-";
            }
            </script>
                <script>
                    // pra abrir o menu
                    function abre() {
                    document.getElementById("mySidenav").style.width = "250px";
                    }
                    // pra fechar o menu
                    function fecha() {
                    document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
            <div class="menu">
                <span style="font-size:40px;cursor:pointer" onclick="abre()">&#9776;</span>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="fecha()">&times;</a>
                <a href="/home">Home</a>
                <a href="/loggout">Sair</a>
            </div>
            <a href="/home">
                <img src="../static/public/logo.png" alt="logo">
            </a>
            <div class="user">
                <a href="/user">
                <img src="../static/public/user.png" alt="user" style="width:50px;height:50px;"></a>
            </div>
            </div>
    </header>
</head>
<!-- Requisições de depósito -->
{% if tipo == 'confirmacao_deposito' %}

    {% for requisição in requisicoes %}
    <div class="row">
        <div class="coluna">
        <form class="req-form">
            {% for linhaConta in tabelaConta %}
                {% if linhaConta['numero_conta'] == requisição['numero_conta'] %}
                    {% for linhaUsuario in tabelaUsuario  %}
                        {% if linhaUsuario['id_usuario'] == linhaConta['id_usuario'] %}
                            <h2>Requisição de {{linhaUsuario['nome_usuario']}}</h2>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        
        {% for chave, valor in requisição.items() %}
            {% if chave == 'id_confirmacao_deposito' %}
                {% set id = valor %}
                <label for="id_confirmacao_deposito">Id da operação:</label>
                <input type="text" name="id_confirmacao_deposito" value="{{valor}}" readonly><br>
            {% elif chave == 'valor_confirmacao_deposito'  %}
                <label for="valor_confirmacao_deposito">Valor:</label>
                <input type="text" name="valor_confirmacao_deposito" value="{{valor}}" readonly><br>
            {% elif chave == 'numero_conta' %}
                <label for="numero_conta">Número da conta:</label>
                <input type="text" name="numero_conta" value="{{valor}}" readonly>
            {% elif chave == 'numero_agencia' %}
                <label for="numero_agencia">Agência:</label>
                <input type="text" name="numero_agencia" value="{{valor}}" readonly><br>
            {% elif chave == 'data_hora' %}
                <label for="data_hora">Data e Hora:</label>
                <input type="text" name="data_hora" value="{{valor}}" readonly>
            {% endif %}
            
        {% endfor %}
        {% set id = requisição["id_confirmacao_deposito"] %}        
        <button><a href="{{'/resposta/aceita/%s/%s' % (tipo, id)}}" class="nav-link">Aceitar</a></button>
            <button><a href="{{'/resposta/recusa/%s/%s' % (tipo, id)}}" class="nav-link">Recusar</a></button>
        </form>
        </div>
        </div>
    {% endfor %}
{% endif %}

<!-- Requisições de abertura de conta-->
{% if tipo == 'confirmacao_cadastro' %}
    {% for requisição in requisicoes %}
        <div class="coluna">
        <form class="req-form">
        
        {% for chave, valor in requisição.items() %}
            {% if chave == 'id_cadastro' %}
                <label for="id_cadastro">Id da operação:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'nome_cadastro' %}
                <label for="nome_cadastro">Nome:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'cpf_cadastro' %}
                <label for="cpf">CPF:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'data_nascimento_cadastro' %}
                <label for="data_nascimento_cadastro">Data de Nascimento:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'genero_cadastro' %}
                <label for="genero_cadastro">Gênero:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'rua_avenida_cadastro' %}
                <label for="rua_avenida_cadastro">Rua:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'numero_casa_cadastro' %}
                <label for="numero_casa_cadastro">Número:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'bairro_cadastro' %}
                <label for="bairro_cadastro">Bairro:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'cidade_cadastro' %}
                <label for="cidade_cadastro">Cidade:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'estado_cadastro' %}
                <label for="estado_cadastro">Estado:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'numero_agencia' %}
                <label for="numero_agencia">Agência:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'numero_conta' %}
                <label for="numero_conta">Conta:</label>
                <input type="text" value="{{valor}}" readonly>
            {% endif %}

        {% endfor %}    
        {% set id = requisição["id_cadastro"] %} 
            <button><a href="{{'/resposta/aceita/%s/%s' % (tipo, id)}}"class="nav-link2">Aceitar</a></button>
            <button><a href="{{'/resposta/recusa/%s/%s' % (tipo, id)}}" class="nav-link2">Recusar</a></button>
        </form>
        </div>
        </div>
        </div>

    {% endfor %}
{% endif %}

<!-- Requisições de alteração de dados-->
{% if tipo == 'alteracao_cadastral' %}
    {% for requisição in requisicoes %}
        <div class="coluna">
        <form class="req-form">
        {% for linhaUsuario in tabelaUsuario  %}
            {% if linhaUsuario['id_usuario'] == requisição['id_usuario'] %}
                <h2>Requisição de {{linhaUsuario['nome_usuario']}}</h2>
            {% endif %}
        {% endfor %}
        <h3>Alterações requeridas:</h3>
        {% for chave, valor in requisição.items() %}
            {% if chave == 'id_alteracao' %}
                <label for="id_alteracao">Id da requisição:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'nome_alteracao' and valor != None %}
                <label for="nome_alteracao">Nome:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'genero_alteracao' and valor != None %}
                <label for="genero_alteracao">Gênero:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'rua_avenida_alteracao' and valor != None %}
                <label for="rua_avenida_alteracao">Rua:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'numero_alteracao' and valor != None %}
                <label for="numero_alteracao">Número:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'bairro_alteracao' and valor != None %}
                <label for="bairro_alteracao">Bairro:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'cidade_alteracao' and valor != None %}
                <label for="cidade_alteracao">Cidade:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'estado_alteracao' and valor != None%}
                <label for="estado_alteracao">Estado:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'senha_alteracao' and valor != None%}
                <label for="senha_alteracao">Senha:</label>
                <input type="password" value="{{valor}}" readonly>
            {% elif chave == 'data_nascimento_alteracao' and valor != None%}
                <label for="data_nascimento_alteracao">Data de Nascimento:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'id_usuario' %}
                <label for="id_usuario">ID do usuário:</label>
                <input type="text" value="{{valor}}" readonly>
            {% endif %}

        {% endfor %}    
        {% set id = requisição["id_alteracao"] %} 
        <button><a href="{{'/resposta/aceita/%s/%s' % (tipo, id)}}" class="nav-link2">Aceitar</a></button>
        <button><a href="{{'/resposta/recusa/%s/%s' % (tipo, id)}}" class="nav-link2">Recusar</a></button>
        </form>
        </div>
        </div>
        </div>

    {% endfor %}
{% endif %}

<!-- Requisições de encerramento de conta-->
{% if tipo == 'encerramento_conta' %}
    {% for requisição in requisicoes %}
        <div class="coluna">
        <form class="req-form">
        {% for linhaUsuario in tabelaUsuario  %}
            {% if linhaUsuario['id_usuario'] == requisição['id_usuario'] %}
                <h2>Requisição de {{linhaUsuario['nome_usuario']}}</h2>
            {% endif %}
        {% endfor %}
        {% for chave, valor in requisição.items() %}
            {% if chave == 'id_encerramento' %}
                <label for="id_encerramento">Id da requisição:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'saldo_encerramento' %}
                <label for="saldo_encerramento">Saldo pendente:</label>
                <input type="text" value="{{valor}}" readonly>
            {% elif chave == 'id_usuario' %}
                <label for="id_usuario">ID do usuário:</label>
                <input type="text" value="{{valor}}" readonly>
            {% endif %}

        {% endfor %}    
        {% set id = requisição["id_encerramento"] %} 

        <button><a href="{{'/resposta/aceita/%s/%s' % (tipo, id)}}" class="nav-link2">Aceitar</a></button>
        <button><a href="{{'/resposta/recusa/%s/%s' % (tipo, id)}}" class="nav-link2">Recusar</a></button>
        </form>
        </div>
        </div>
        </div>

    {% endfor %}
{% endif %}

<div class="cent">
    <a href="/homeGerenteAgencia" class="voltar"><button> Voltar </button></a>
    </div>
