<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saque</title>
        <link rel="stylesheet" href="../static/styles/styles.css">
    </head>
    <body>
        <header class="navbar">
            <a href="/">
                <img src="../static/public/logo.png" alt="logo">
            </a>
            <div class="links">
                <a href="/home">Home </a> <span>|</span>
                <a href="/loggout">Sair</a>
                
            </div>
        </header>
            {% with mensagens = get_flashed_messages() %}
                {% for msg in mensagens %}
                    <p id="erro-saque-deposito">{{msg}}</p>
                {% endfor %}
            {% endwith %}
            <div class="corposaque">
                <h2>Saldo atual: {{saldo}}</h2>
                <h1>Insira o valor que deseja sacar:</h1>
                <form action="" method="POST">
                <span id="cifrão">
                    <label for="saque">R$</label>
                    <input type="text" name="saque" placeholder="00.00" pattern="[0-9]{1, 10}.[0-9]{2}" title="Separe os centavos dos reais com '.' e utilize apenas 2 casas decimais" autocomplete="off">
                
                    <input type="submit" value="Sacar" id="sacar">
                    <button><a href="/home">Voltar</a></button>
                </form>
                </span>
            </div>
    </body>
</html>