<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Home</title>
    <script>
        // pra abrir o menu
        function abre() {
        document.getElementById("mySidenav").style.width = "250px";
        }
        // pra fechar o menu
        function fecha() {
        document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>
<body>
    <div class="topo">
        <header class="navbar">
            <div class="menu">
                <span style="font-size:40px;cursor:pointer" onclick="abre()">&#9776;</span>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="fecha()">&times;</a>
                {% if gerente == 'geral' %}
                    <a href="/homeGerenteGeral">Home</a>
                {% elif gerente == 'agencia' %}
                    <a href="/homeGerenteAgencia">Home</a>
                {% else %}
                    <a href="/home">Home</a>
                {% endif %}
                <a href="/saque">Saque</a>
                <a href="/deposito">Deposito</a>
                <a href="/extrato">Extrato</a>        
                <a href="//reqMudancaCadastral">Perfil de usuário</a>
                <a href="/loggout">Sair</a>
                <br>
            </div>
            {% if gerente == 'geral' %}
                <a href="/homeGerenteGeral">
                    <img src="../static/public/logo.png" alt="logo">
                </a>
            {% elif gerente == 'agencia' %}
                <a href="/homeGerenteAgencia">
                    <img src="../static/public/logo.png" alt="logo">
                </a>
            {% else %}
                <a href="/home">
                    <img src="../static/public/logo.png" alt="logo">
                </a>
            {% endif %}
                
            
            <div class="user">
                <a href="/reqMudancaCadastral">
                <img src="../static/public/user.png" alt="user" style="width:50px;height:50px;"></a>
            </div>
        </header>
    </div>
        <div class="divtabuser">
            <div class="dirowuser">
                <div class="userinfo">
                    <fieldset disabled="disabled">
                    <br>
                    <label for="nome">Nome:</label><br>
                        <input type="text" name="nome" value="{{linhaUsuario['nome_usuario']}}"><br>
                        <div type="separações" class="separações">Rua ou Avenida:</div>
                        <input type="text" name="rua" value="{{linhaUsuario['rua_avenida_usuario']}}">
                        <div type="separações" class="separações">Número:</div>
                        <input type="text" name="numero" value="{{linhaUsuario['numero_casa_usuario']}}"><br>
                        <div type="separações" class="separações">Bairro:</div>
                        <input type="text" name="bairro" value="{{linhaUsuario['bairro_usuario']}}"><br>
                        <div type="separações" class="separações">Cidade:</div>
                        <input type="text" name="cidade" value="{{linhaUsuario['cidade_usuario']}}">
                        <div type="separações" class="separações">Estado:</div>
                        <select name="estado" value="{{linhaUsuario['rua_avenida_usuario']}}" id="estado">
                            <option value="{{linhaUsuario['estado_usuario']}}">{{linhaUsuario['estado_usuario']}}</option>
                        </select><br>
                        <label for="datNascimento">Data de Nascimento:</label><br>
                        <input type="date" name="dataNascimento" value="{{linhaUsuario['data_nascimento_usuario']}}"><br>
                        <label for="genero">Gênero:</label><br>
                        <select name="genero" id="generos">
                            <option value="{{linhaUsuario['genero_usuario']}}">{{linhaUsuario['genero_usuario']}}</option>
                        </select>
                    </fieldset>
                </div>
                <div class="espaço"></div>
                <div class="useralt"><br>
                    <form action="#" method="post">
                        <label for="nome">Nome:</label><br>
                        <input type="text" name="nome_usuario"><br>
                        <div type="separações" class="separações">Rua ou Avenida:</div>
                        <input type="text" name="rua_avenida_usuario" placeholder="Rua ou Avenida">
                        <div type="separações" class="separações">Número:</div>
                        <input type="text" name="numero_casa_usuario" placeholder="Número"><br>
                        <div type="separações" class="separações">Bairro:</div>
                        <input type="text" name="bairro_usuario" placeholder="Bairro"><br>
                        <div type="separações" class="separações">Cidade:</div>
                        <input type="text" name="cidade_usuario" placeholder="Cidade">
                        <div type="separações" class="separações">Estado:</div>
                        <select name="estado_usuario" id="estado">
                            <option value=''></option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espirito Santo">Espirito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select><br>
                        <label for="datNascimento">Data de Nascimento:</label><br>
                        <input type="date" name="data_nascimento_usuario" placeholder="Data de Nascimento"><br>
                        <label for="genero">Gênero:</label><br>
                        <select name="genero_usuario" id="generos">
                            <option value=""></option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                            <option value="Prefiro não informar">Prefiro não informar</option>
                        </select><br><br>
                    
                        <input type="submit" value="Alterar Dados" id="alterar">
                    </form>
                </div>
            </div>
        </div>
        
        {% if alteracao == True %}
            <a href="{{'/encerraConta/%s' % (id_usuario)}}"><input type="button" value="EXCLUIR CONTA" id="deletar"></a>
            <a href="/usuarios_agencia" class="voltar"><button> Voltar </button></a>
            
        {% else %}
            <a href="/enviaReqEncerramento"><input type="button" value="EXCLUIR CONTA" id="deletar"></a>
            {% if gerente == 'agencia' %}
                <a href="/homeGerenteAgencia" class="voltar"><button> Voltar </button></a>
            {% elif gerente == 'geral' %}
                <a href="/homeGerenteGeral" class="voltar"><button> Voltar </button></a>
            {% else %}
                <a href="/home" class="voltar"><button> Voltar </button></a>
            {% endif %}
        {% endif %}
    </body>
</html>